# Thumbs Files
.DS_Store
Thumbs.db

# Dependencies NPM / Yarn
/node_modules
/.cache

# Build Compiled.
/public

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config files
.env

# Cypress
test/cypress/screenshots
test/cypress/videos
